
@{
    ViewBag.Title = "Xacnhandondathang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đơn đặt hàng của quáy khách đã được duyệt.Chúng tôi sẽ liên hệ với quý khách sớm nhất và giao hàng đúng hẹn</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Home");
</p>

